@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,200;1,300;1,600;1,900&family=Oswald:wght@200;300;400&family=Signika+Negative:wght@300;400;700&display=swap");
html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

* { /* margenes generales */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.general-body {
  background-color: #faf1e5;
  overflow-x: hidden;
}

/* -----------------------------------------------inicio HEADER----------------------------*/
header { /* Defino header */
  background-image: url(./Media/Banner.jpg);
  background-size: cover;
  width: 100vw;
  box-shadow: inset 0 0 20px #442b0c;
}
header div img {
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
}
header div img:hover {
  scale: 1.1;
}
header ul {
  padding-left: 0px;
}
header ul li { /* Esto genera la caja bonita en la lista de navegacion*/
  text-decoration: none;
  background-color: #f3eade;
  color: black;
  border: #442b0c 2px solid;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Cinzel", serif;
  font-weight: 500;
  border-radius: 25px;
  padding: 0px 12px 0px 12px !important;
  transition: 0.3s;
  font-size: 25px;
}
header ul li:hover {
  scale: 1.1;
  color: black;
}
header ul li a {
  color: black;
  padding: 0 4px;
  text-decoration: none;
}

header nav ul, footer ul { /* estilo compartidos footer y header */
  list-style-type: none;
  margin-bottom: 16px;
}

/* ----------------------------------------inicio INDEX---------------------------------- */
.left_side, .right_side { /*Split screen, acompañado de @media*/
  height: 80vh;
  width: 100%;
}

.left_side { /*Orden de objetos*/
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3eade;
}

.right_side { /*Background de div vacio*/
  background-image: url(./Media/fondoIndex.png);
  background-size: cover;
}

/* Visual index */
.index_body {
  overflow: hidden;
}

.titulo_index { /*titulos*/
  font-family: "Cinzel", serif;
  font-size: 80px;
  text-align: center;
}

.index_link { /*call to action*/
  width: 100%;
  transition: 0.3s;
}
.index_link:hover {
  scale: 1.2;
}

.estilo_link { /*call to action*/
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  color: black;
  background-color: #d99771;
  border: #442b0c 2px solid;
  border-radius: 25px;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 3px 5px 3px black;
  padding: 10px 20px 10px 20px;
}
.estilo_link:hover {
  background-color: #dbb098;
  box-shadow: 10px 10px 8px black;
}

/*----------------------------------- MENU-------------------------------------------- */
.estilo_menu { /* Estilo general */
  margin: 5px;
  color: black;
  background-color: #ffcaac;
  border: #442b0c 2px solid;
  border-radius: 25px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 3px 5px 3px black;
  padding: 10px;
}

.tit_menu { /* Solo estilo*/
  font-size: 34px;
  font-family: "Cinzel", serif;
  font-weight: 600;
  padding: 0;
}

.img_menu { /* Para acomodar dentro del recuadro*/
  width: 200px;
  height: 270px;
  border: 3px solid black;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.jugo { /* CUARTA IMAGEN, CORRECION DE ALINEAMIENTO*/
  margin-top: 48px;
  margin-bottom: 48px;
}

.text_menu { /* Items del menu */
  margin-left: 20px;
}

.end_menu {
  margin-bottom: 50%;
}

/* ---------------------------------------Inicio Servicios---------------------------------- */
.card_serv { /*defino estilo de cards*/
  transition: 0.3s;
  border: #442b0c 2px solid;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
.card_serv:hover {
  box-shadow: #442b0c 0 0 8px;
  scale: 1.1;
}

.card-img-top { /*acomodo imagenes dento de los cards*/
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 25px;
}

.h_estilo {
  font-family: "Cinzel", serif;
  font-size: 38px;
}

.tit_serv {
  background-color: #dbb098;
  font-family: "Cinzel", serif;
  font-weight: 600;
  font-size: 34px;
  height: 100px;
  line-height: 100px;
  border-top: #a85d35 2px solid;
  border-bottom: #a85d35 2px solid;
}

.mb5 { /*Para extender la vista de la pagina*/
  margin-bottom: 200px;
}

.lead { /*le agrego estilo a la clase de bootstap*/
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.followup {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.jumbotron a {
  font-size: 30px;
}
.jumbotron a:hover {
  color: white;
}

/* ---------------------------------------Inicio de ubicacion ---------------------------*/
.card_ubi { /*defino estilo de cards*/
  transition: 0.3s;
  border: #442b0c 2px solid;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  scale: 0.95;
}
.card_ubi:hover {
  scale: 1;
  box-shadow: #333 0 0 30px 5px;
}

.card_ubi_inv { /*Invierto dos tarjetas para lograr un patron en el centro*/
  transition: 0.3s;
  border: #442b0c 2px solid;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  scale: 0.95;
}
.card_ubi_inv:hover {
  scale: 1;
  box-shadow: #333 0 0 30px 5px;
}

.card-title {
  font-family: "Cinzel", serif;
}

.card-text {
  font-family: "Montserrat", serif;
  font-size: 20px;
}

.img_ubi { /*para alinear el borde donde tiene que estar, igualar a .card_ubi*/
  border-bottom-left-radius: 25px;
}

.img_ubi_inv { /*para alinear el borde donde tiene que estar, igualar a .card_ubi*/
  border-top-left-radius: 25px;
}

.map-responsive { /*Vuelve responsive google maps, reducir el padding con @media mientras se reduce la pagina*/
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
  transition: all 0.3s;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*-------------------------------- Inicio Contacto---------------------------------------*/
.contact-bg {
  background-image: url(./Media/contacto.jpg);
  background-position: center;
  background-repeat: repeat;
}

.form_align { /*margenes forms*/
  margin-top: 5%;
  margin-bottom: 150px;
  width: 400px;
}

.form { /*estilo form*/
  padding: 20px;
  background-color: #dbb098;
  box-shadow: 0 0 15px #4d2307;
  border: 2px solid #442b0c;
  border-radius: 25px;
}
.form input, .form textarea {
  border: 2px solid #442b0c;
  box-shadow: inset 0 0 3px #4d2307;
  resize: none;
}

.text_form {
  text-align: start;
  font-size: 25px;
  font-family: "Cinzel", serif;
  font-weight: 500;
}

::-moz-placeholder {
  font-family: "Montserrat", Serif;
}

:-ms-input-placeholder {
  font-family: "Montserrat", Serif;
}

::placeholder {
  font-family: "Montserrat", Serif;
}

.btn-fancy { /*estilo boton*/
  background-color: #4d2307;
  color: white;
  font-family: "Montserrat";
  border-radius: 8px;
  transition: 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px 5px 10px;
}
.btn-fancy:hover {
  text-shadow: white 0 0 5px;
  scale: 1.1;
}

.slide-in-bottom { /*Animacion de entrada, creada con librerias de CSS*/
  -webkit-animation: slide-in-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
  animation: slide-in-bottom 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

/*------------------------Inicio de footer------------------------------*/
footer {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  box-shadow: inset 0 0 15px #442b0c;
  background: url(./Media/Banner.jpg);
  background-size: cover;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100vw;
}
footer img {
  width: 120px;
  padding-top: 7px;
}
footer .link {
  text-decoration: none;
  background-color: #f3eade;
  color: black;
  border: #442b0c 2px solid;
  margin-right: 15px;
  margin-left: 15px;
  font-family: "Cinzel", serif;
  font-weight: 500;
  border-radius: 25px;
  padding: 0px 12px 0px 12px !important;
  transition: 0.3s;
  font-size: 25px;
}
footer .row { /*correcion de visuales en footer*/
  margin-left: 0;
  padding: 0px;
  --bs-gutter-x: 0rem;
  --bs-gutter-y: 0rem;
}
footer ul li { /*Para generar transiciones*/
  transition: all 0.3s;
  scale: 0.9;
}
footer ul li:hover {
  scale: 1;
}

/* -----------------------------@MEDIA----------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  /*HEADER*/
  header img {
    height: 80px;
    width: auto;
  }
  header nav ul li {
    font-size: 18px;
  }
  /*INDEX*/
  .index_body { /*Permite scrollear en vista mobile*/
    overflow-y: scroll;
  }
  .left_side { /*mantener 100vh*/
    min-height: 800px;
    background-image: url(./Media/fondoIndex.png);
    background-size: cover;
    background-position: center;
  }
  .titulo_index, .texto_index {
    background-color: rgba(218, 183, 165, 0.6784313725);
    border-radius: 15px;
    padding: 10px 15px 10px 15px;
  }
  .titulo_index {
    font-size: 40px;
    width: 300px;
  }
  .right_side { /*Hace desaparecer la parte del index que ya no nos interesa. */
    display: none;
    height: 0vh;
    width: 0%;
  }
  .texto_index {
    font-size: 20px;
    width: 400px;
  }
  .estilo_link {
    font-size: 20px;
  }
  /* Inicia footer */
  footer {
    height: 120px;
  }
  footer .link {
    font-size: 18px;
  }
  footer img {
    height: inherit;
  }
  .card { /*Para ver mejor el contenido */
    scale: 0.8;
  }
  .card:hover {
    scale: 0.9;
  }
  .img_ubi { /*alinea los bordes de las fotos con los nuevos bordes de la tarjeta*/
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
  }
}
@media only screen and (min-width: 768px) {
  /* Inicia Header */
  header nav ul li {
    font-size: 20px;
  }
  /* inicia index */
  .titulo_index {
    font-size: 50px;
  }
  .texto_index {
    font-size: 20px;
    width: 400px;
  }
  .estilo_link {
    font-size: 20px;
  }
  /* inicia contacto */
  .form_align { /* Solo alineamiento */
    margin-top: 100px;
    width: 500px;
  }
  .end_menu { /* Solo alineamiento */
    margin-bottom: 20%;
  }
  footer .link {
    font-size: 20px;
  }
}
@media only screen and (min-width: 998px) and (max-width: 1360px) {
  /*Servicios*/
  .card {
    scale: 0.9;
  }
  .card:hover {
    scale: 1;
  }
  .map-responsive { /* mantiene responsive en bajas resoluciones */
    padding-bottom: 40%;
  }
  .index_body { /*Permite scrollear en vista mobile*/
    overflow-y: scroll;
  }
}
@media only screen and (min-width: 1100px) {
  /* inicia Header */
  header nav ul li {
    font-size: 30px;
  }
  /* inicia Footer */
  .texto_index {
    font-size: 18px;
    width: 600px;
  }
  .estilo_link {
    font-size: 25px;
  }
  /* inicia contacto */
  .form_align { /*margenes forms*/
    width: 600px;
  }
  .form { /*estilo form*/
    padding: 30px;
  }
  .text_form {
    font-size: 30px;
  }
  .btn-fancy { /*estilo boton*/
    font-size: 30px;
  }
  ::-moz-placeholder {
    font-size: 20px;
  }
  :-ms-input-placeholder {
    font-size: 20px;
  }
  ::placeholder {
    font-size: 20px;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-18 22:47:25
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */